#mega-menu-wrap-menu-1 {
  // margin-left: 7.5rem;

  @include breakpoint("desktopsmall") {
    // margin-left: 3rem;
  }

  @include breakpoint("desktop") {
    // margin-left: 2rem;
  }
}

#mega-menu-wrap-menu-1,
#mega-menu-wrap-menu-1 #mega-menu-menu-1,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 ul.mega-sub-menu,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-row,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-column,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 span.mega-menu-badge {
  position: static;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu {
  background: $black;

  @include breakpoint("ipad-land") {
    border-top: 0.1rem solid $gray-3;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row {
  float: none;
  max-width: 126.5rem;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;

  @include breakpoint("ipad-land") {
    padding: 0 2rem;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link {
  text-transform: none;
  font-size: inherit;
  color: $gray-8;
  font-weight: inherit;
  position: relative;
  padding-right: 6rem;

  @include breakpoint("ipad-land") {
    padding-right: 4rem;
    padding-left: 4rem !important;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item {
  font-size: 1.4rem;

  @include breakpoint("ipad-land") {
    padding: 1.4rem;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link:hover,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link:hover,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link:focus,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link:focus {
  font-weight: inherit;
  color: $white;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item-has-children>a.mega-menu-link>span.mega-indicator:after {
  content: "\e920";
  font-family: "icomoon";
  font-size: 1.3rem;
  color: $gray-8;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu li.mega-collapse-children.mega-toggle-on>ul.mega-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
}

#mega-menu-wrap-menu-1 {
  background: none;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link {
  background: none;
  position: relative;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link:after {
  content: "";
  width: 100%;
  height: 3px;
  background: $primary;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  opacity: 0;

  @include breakpoint("ipad-land") {
    display: none;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item.mega-toggle-on>a.mega-menu-link:after {
  opacity: 1;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item.mega-toggle-on>a.mega-menu-link {
  background: none;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link:hover {
  background: none;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link {
  padding: 1rem;
  line-height: auto;
  height: auto;

  @include breakpoint("ipad-land") {
    padding: 0;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item {
  margin: 0 2rem 0 0;

  @include breakpoint("desktopsmall") {
    margin-right: 1rem;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu {
  top: 100%;
  // min-height: calc(100vh - 36vh);
  min-height: 0;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  @include breakpoint("desktop") {
    min-height: calc(100vh - 15vh);
    height: 100%;
  }

  @include breakpoint("ipad-land") {
    border-bottom: 0;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item li.mega-menu-item>a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item li.mega-menu-item>a.mega-menu-link {
  font-size: inherit;
}

#mega-menu-wrap-menu-1,
#mega-menu-wrap-menu-1 #mega-menu-menu-1,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-row,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-column,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 span.mega-menu-badge {
  font-size: 1.8rem;

  @include breakpoint("ipad-land") {
    padding: 1rem 2rem;
    // border-bottom: 0.1rem solid $border-color;
  }
}

#mega-menu-wrap-menu-1.mega-keyboard-navigation .mega-menu-toggle:focus,
#mega-menu-wrap-menu-1.mega-keyboard-navigation .mega-toggle-block:focus,
#mega-menu-wrap-menu-1.mega-keyboard-navigation .mega-toggle-block a:focus,
#mega-menu-wrap-menu-1.mega-keyboard-navigation .mega-toggle-block .mega-search input[type="text"]:focus,
#mega-menu-wrap-menu-1.mega-keyboard-navigation .mega-toggle-block button.mega-toggle-animated:focus,
#mega-menu-wrap-menu-1.mega-keyboard-navigation #mega-menu-menu-1 a:focus,
#mega-menu-wrap-menu-1.mega-keyboard-navigation #mega-menu-menu-1 input:focus,
#mega-menu-wrap-menu-1.mega-keyboard-navigation #mega-menu-menu-1 li.mega-menu-item a.mega-menu-link:focus {
  outline: 0;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item {
  float: none;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu li.mega-collapse-children.mega-toggle-on>ul.mega-sub-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  bottom: 0;
  min-height: 100%;
  max-height: 100%;
  border-left: 1px solid #343434;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 3rem;

  @include breakpoint("ipad-land") {
    padding-left: 4rem;
    padding-top: 3rem;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>ul.mega-sub-menu>li.mega-menu-columns-6-of-12 {
  width: auto;
  display: inline-block;
  height: 100%;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item-has-children li.mega-menu-item-has-children>a.mega-menu-link>span.mega-indicator {
  float: right;
  position: absolute;
  right: 6rem;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;

  @include breakpoint("ipad-land") {
    right: 4rem;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item-has-children>a.mega-menu-link>span.mega-indicator:after {
  content: "\e920";
  font-family: "icomoon";
  font-size: 1.3rem;
  color: #a6a7aa;
  position: absolute;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  display: none;
}

.mega-menu-item {
  .cross_menu {
    position: absolute;
    right: 0;
    top: 3rem;
    cursor: pointer;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item-has-children.mega-collapse-children.mega-toggle-on>a.mega-menu-link>span.mega-indicator:after {
  content: "\e920";
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item.mega-current-menu-ancestor>a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item.mega-current-page-ancestor>a.mega-menu-link {
  background: none;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>.mega-sub-menu {
  height: 100%;

  >li>ul {
    height: 100%;
    padding-top: 4rem;

    @include breakpoint("ipad-land") {
      padding-top: 3rem;
      padding-top: 0rem;
    }

    @include breakpoint("ipad") {
      padding-top: 0rem;
    }
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item li.mega-menu-item>a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item li.mega-menu-item>a.mega-menu-link {
  color: $gray-8;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu.mega-menu-item .mega-indicator {
  display: none !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu.mega-menu-item li .mega-indicator {
  display: block !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu li.mega-disable-link.mega-toggle-on>a.mega-menu-link {
  color: #ffffff !important;
}

.stick {
  #mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link {
    color: $black;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>ul.mega-sub-menu>li.mega-menu-columns-4-of-12 {
  height: 100%;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column>ul.mega-sub-menu>li.mega-menu-item {
  padding: 1rem;

  @include breakpoint("ipad-land") {
    padding: 1rem;
    // border-bottom: 0.1rem solid $gray-3 ;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item li.mega-menu-item {
  padding: 1.5rem;

  @include breakpoint("ipad-land") {
    padding: 1rem;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title {
  font-size: 2.5rem;
  text-transform: none;
  font-weight: 400;
  color: $white;
  margin-bottom: 2rem;

  @include breakpoint("ipad-land") {
    font-size: 1.6rem;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 p {
  color: $gray-8;
  font-size: 1.8rem;
  margin-bottom: 3rem;

  @include breakpoint("ipad-land") {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}

//css written by rohan

// #mega-menu-item-2759 {
//   padding-bottom: 0 !important;
// }

#mega-menu-wrap-menu-1 .mega-menu-toggle {
  @include breakpoint("ipad-land") {
    flex-direction: row-reverse;
  }
}

#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-blocks-right {
  @include breakpoint("ipad-land") {
    justify-content: flex-start;
  }
}

.menu-brand {
  @include breakpoint("ipad-land") {
    visibility: hidden;
  }
}

#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-box {
  @include breakpoint("ipad-land") {
    width: 38px !important;
    height: 51px !important;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 #mega-menu-item-358,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 #mega-menu-item-13 {
  @include breakpoint("ipad-land") {
    position: relative;
  }
}

.mega-menu.max-mega-menu.mega-menu-horizontal .globalenglish {
  display: none !important;
}

// #mega-menu-wrap-menu-1 #mega-menu-menu-1 #mega-menu-358-0-0 ul,
// #mega-menu-wrap-menu-1 #mega-menu-menu-1 #mega-menu-13-0-0 ul {
//   position: relative;
// }

#mega-menu-wrap-menu-1 #mega-menu-menu-1 #mega-menu-358-0-0 ul::after,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 #mega-menu-13-0-0 ul::after {
  content: "";

  width: 0.1rem;
  height: 90%;
  position: absolute;
  background-color: $border-color;
  display: block;
  opacity: 1;
  top: 2rem;
  right: 0;
  left: unset;

  @include breakpoint("ipad-land") {
    display: none;
  }
}

.navmobile {
  display: none;

  @include breakpoint("ipad-land") {
    display: block;
    position: absolute;
    top: 5.8rem;
    left: 0;
    width: 100%;
  }

  // #mega-menu-358-0-0 .mega-sub-menu li {
  //   border-bottom: 0.1rem solid $gray-3;
  // }

  // css for services start
  .mega-menu.max-mega-menu.mega-menu-horizontal .servicesmobile {
    padding-right: 0 !important;
    padding-left: 0 !important;

    .mega-sub-menu .mega-menu-row ul .mega-menu-column:first-child {
      padding-top: 0 !important;
    }

    a {
      padding-left: 1.9rem !important;
    }

    ul {
      top: 12px !important;
      min-height: auto !important;
      // margin-bottom: 1rem !important;

      li {
        padding-right: 0 !important;
        padding-left: 0 !important;

        ul {
          ul {
            // border-top: 0.1rem solid $gray-3  !important;

            li {
              border-bottom: 0.1rem solid $gray-3  !important;
            }
          }

          // li:nth-child(2) {
          //   ul {
          //     li:first-child {
          //       padding-top: 0 !important;
          //     }
          //   }
          // }
        }
      }

      ul {
        top: 0 !important;

        li:nth-child(3) {
          // display: none !important;
          // padding: 1rem 1.9rem !important;

          ul {
            li {
              border: 0 !important;
            }
          }

          a {
            padding-left: 0 !important;
          }

          .btn--secondary-outline {
            padding-left: 1.9rem !important;
          }
        }

        ul {
          top: 0 !important;

          ul {
            top: 0 !important;
          }
        }
      }
    }
  }

  // #mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu,
  // .featured-job-container__details {
  //   margin-bottom: 1rem !important;
  // }

  // css for services end
  // css for solution start

  .mega-menu.max-mega-menu.mega-menu-horizontal .solution {
    padding-right: 0 !important;
    padding-left: 0 !important;

    a {
      padding-left: 1.9rem !important;
    }

    ul {
      top: 12px !important;
      min-height: auto !important;

      li {
        padding-right: 0 !important;
        padding-left: 0 !important;

        ul {
          border-top: 0 !important;

          // li:nth-child(2) {
          //   ul {
          //     li:first-child {
          //       padding-top: 0 !important;
          //       padding-bottom: 0 !important;
          //     }
          //   }
          // }
        }

        .mega-sub-menu {
          .mega-menu-column.mega-menu-columns-3-of-12.mega-menu-clear {
            padding-bottom: 0 !important;
          }

          .mega-menu-column.mega-menu-columns-4-of-12 {
            padding-top: 0 !important;
          }

          ul {
            li {
              border-bottom: 0.1rem solid $gray-3  !important;
            }
          }
        }

        ul {
          li {
            // padding: 0 !important;
          }
        }
      }

      ul {
        top: 0 !important;

        li:nth-child(3) {
          // padding: 1rem 1.9rem !important;

          ul {
            li {
              // display: none !important;
              border-bottom: 0 !important;
            }
          }

          a {
            // padding-left: 0 !important;
          }

          .btn--secondary-outline {
            padding-left: 1.6rem !important;
          }
        }

        ul {
          top: 0 !important;

          ul {
            top: 0 !important;
          }
        }
      }
    }
  }

  // css for solution end
  // css for global english start
  .mega-menu.max-mega-menu.mega-menu-horizontal .globalenglish {
    display: none !important;

    @include breakpoint("ipad-land") {
      display: none !important;
      background-color: $brown1  !important;
      border-bottom: 0 !important;
      // padding-left: 4rem !important;
      padding: 1rem 0 !important;
      margin-bottom: 5rem !important;

      a {
        padding-left: 1.6rem !important;
      }
    }

    ul {
      float: unset !important;

      height: auto !important;
      min-height: auto !important;
      background-color: $brown1  !important;

      li {
        height: auto !important;
        min-height: auto !important;
        padding-right: 0 !important;
        padding-left: 0 !important;

        ul {
          background-color: $brown1  !important;
          height: auto !important;
          min-height: auto !important;
          padding-bottom: 5rem !important;

          li {
            background-color: $brown1  !important;

            a {
              padding-left: 5rem !important;
            }
          }
        }
      }
    }
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .India::before,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .America::before,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .us::before,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .aus::before,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .afr::before,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .UAE::before {
    content: "";
    // background: url("http://localhost/neosoftstg/wp-content/themes/neosoft/app/images/india-flag.svg") no-repeat;
    // background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    display: block;
    opacity: 1;
    top: 1rem;
    left: 1.5rem;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .India::before {
    background: url("../images/flag1.png") no-repeat;
    background-size: contain;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .America::before {
    background: url("../images/flag2.png") no-repeat;
    background-size: contain;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .us::before {
    background: url("../images/flag3.png") no-repeat;
    background-size: contain;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .aus::before {
    background: url("../images/flag4.png") no-repeat;
    background-size: contain;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .afr::before {
    background: url("../images/flag5.png") no-repeat;
    background-size: contain;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .UAE::before {
    background: url("../images/flag6.png") no-repeat;
    background-size: contain;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .globalenglish::after {
    content: "\e923";
    color: $white;
    width: 0;
    height: 0;
    position: absolute;
    font-family: "icomoon";
    transform: rotate(-90deg);
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    opacity: 1;
    top: 3.3rem;
    right: 4rem;
    left: unset;
  }

  // css for global english end
  // arrow css for service and solution page
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .servicesmobile::after,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 .solution::after {
    content: "\e923";
    color: $white;
    width: 0;
    height: 0;
    position: absolute;
    font-family: "icomoon";
    transform: rotate(-90deg);
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    opacity: 1;
    top: 3.3rem;
    right: 4rem;
    left: unset;
  }

  #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner {
    margin-left: 8px;
  }

  #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner {
    width: 30px;
    height: 1.5px;
  }

  #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::before {
    width: 30px;
    height: 2px;
  }

  #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::after {
    width: 30px;
    height: 1.5px;
  }

  .mega-toggle-animated.mega-toggle-animated-slider {
    position: absolute;
    top: -37px;
  }

  #mega-menu-wrap-menu-1 .mega-menu-toggle {
    height: 0;
  }

  // #mega-menu-13-0 {
  //   .mega-sub-menu {

  //     .mega-menu-column.mega-menu-columns-3-of-12.mega-menu-clear {
  //       padding-bottom: 0 !important;
  //     }

  //     .mega-menu-column.mega-menu-columns-4-of-12 {
  //       padding-top: 0 !important;
  //     }
  //   }
  // }

  .mega-menu-column.mega-neosoft-col.mega-menu-columns-3-of-12.neosoft-col.mega-menu-clear {
    @include breakpoint("ipad-land") {
      padding: 0 !important;
    }
  }

  .mega-menu-column.mega-neosoft-col-title.mega-menu-columns-4-of-12.neosoft-col-title {
    @include breakpoint("ipad-land") {
      padding: 0 !important;
    }
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-toggle-on {
    color: $primary  !important;
  }

  #mega-menu-wrap-menu-1,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 ul.mega-sub-menu,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-row,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-column,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 a.mega-menu-link,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 span.mega-menu-badge {
    @include breakpoint("ipad-land") {
      font-size: 1.5rem !important;
      // color: #a6a7aa;
      position: relative !important;
    }
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link {
    color: #a6a7aa;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item.mega-toggle-on>a.mega-menu-link {
    color: red;
  }

  .mega-menu-wrap {
    background: transparent;
    margin: 0 !important;
    padding: 1.4rem 0 0 0 !important;
  }

  #mega-menu-wrap-menu-1 .mega-menu-toggle {
    background: transparent;
  }

  // #mega-menu-13-0-0 {
  //   padding: 0 !important;
  // }

  .mega-menu.max-mega-menu.mega-menu-horizontal {
    background-color: $black  !important;
    height: 100vh !important;
    overflow-y: auto !important;

    li {
      border-bottom: 0.1rem solid $gray-3  !important;
      margin: 0 !important;

      ul {
        padding: 0 !important;

        li {
          border-bottom: 0 !important;

          ul {
            padding: 0 !important;
          }
        }
      }
    }
  }

  .mega-sub-menu {
    #mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-columns-3-of-12 {
      width: 100% !important;
    }
  }
}

#mega-menu-13-0-0 {
  // border-right: 0.1rem solid $border-color  !important;
  height: 100%;

  @include breakpoint("ipad-land") {
    width: 100% !important;
    border-right: 0 !important;
  }
}

#mega-menu-358-0-0 {
  // border-right: 0.1rem solid $border-color  !important;
  height: 100%;

  @include breakpoint("ipad-land") {
    width: 100% !important;
    border-right: 0 !important;
  }
}

#mega-menu-wrap-menu-1 {
  border-bottom: 0;
}

#mega-menu-item-358 .mega-sub-menu {
  @include breakpoint("ipad-land") {
    overflow-y: auto !important;
  }

  li {
    @include breakpoint("ipad-land") {
      height: min-content !important;
    }
  }
}

#mega-menu-item-13 .mega-sub-menu {
  @include breakpoint("ipad-land") {
    overflow-y: auto !important;
  }

  li {
    @include breakpoint("ipad-land") {
      height: min-content !important;
    }
  }
}

// #mega-menu-13-0-2 {
//   @include breakpoint ('ipad-land') {
//     padding-bottom: 3rem !important;
//   }

// }

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu {
  position: absolute;
}

// #mega-menu-2790-0 {
//   padding: 0 !important;
// }

//css for handburger start
#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::before,
#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::after {
  background-color: $white  !important;
}

.stick #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner {
  background-color: $black  !important;
}

.stick #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::before,
.stick #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::after {
  background-color: $black  !important;
}

.stick .navmobile .mega-toggle-animated.mega-toggle-animated-slider {
  position: absolute;
  top: -31px !important;
}

.stick .navmobile {
  @include breakpoint("ipad-land") {
    top: 47px;
  }
}

.mega-sub-menu {
  .mega-menu-img-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

//css for handburger end

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link:after {
  opacity: 1;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>.mega-sub-menu .mega-menu-column:nth-child(3) {
  @include breakpoint("ipad-land") {
    display: none;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>.mega-sub-menu .mega-menu-column {
  @include breakpoint("ipad-land") {
    padding-bottom: 0;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item {
  @include breakpoint("ipad-land") {
    display: flex;
    flex-direction: column;
  }
}

@include breakpoint ("min992") {

  #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.servicesmobile.mega-menu-item.mega-menu-megamenu>ul.mega-sub-menu,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.servicesmobile.mega-menu-item.mega-menu-flyout ul.mega-sub-menu,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.solution.mega-menu-item.mega-menu-megamenu>ul.mega-sub-menu,
  #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.solution.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
    transform: translate(0, -10px);
    transition: opacity 600ms ease-in, transform 600ms ease-in, visibility 600ms ease-in;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] {

    &.mega-no-js li.mega-menu-item:hover>ul.mega-sub-menu,
    &.mega-no-js li.mega-menu-item:focus>ul.mega-sub-menu,
    li.mega-menu-item.mega-toggle-on>ul.mega-sub-menu,
    li.servicesmobile.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu,
    li.solution.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
      opacity: 1;
      transform: translate(0, 0);
      min-height: 43rem;
      transition: opacity 600ms ease-in, transform 600ms ease-in, visibility 600ms ease-in;
    }
  }
}