.industriesbanner.banner {
    margin-bottom: 0;

}

.industries {
    background-color: $brown1;
    // padding: 20rem 0;

    @include breakpoint ('ipad-land') {
        // padding: 7rem 0;
    }

    .col-md-4 {
        margin-bottom: 3rem;
    }

    &__count {
        font-weight: 700;
        border-bottom: 0.4rem solid $primary;

    }

    &__info {
        border: 0.1rem solid $border-color;

        padding: 4rem;
        height: 100%;
        position: relative;

        h3 {
            font-size: 2rem;
            margin-bottom: 2.3rem;
            line-height: 2.8rem;
            margin-top: 0;

            @include breakpoint("large") {
                font-size: 2.4rem;
                line-height: 3.5rem;
                margin-bottom: 3rem;
            }

            @include breakpoint("ipad-land") {
                font-size: 1.6rem;
                margin-bottom: 1.5rem;
                line-height: 2.4rem;
            }
        }

        @include breakpoint ('desktop') {
            padding: 3rem;
        }

        p {
            padding-bottom: 3rem;
        }

        a {
            position: absolute;
            bottom: 0;
            padding: 4rem 0;
            text-decoration: none;
        }

    }

    &__container {
        margin-top: 8rem;
    }
}