.search_explore_inner {
  height: 100%;
  width: 100%;
  background-color: $black;
  padding: 5rem 0;

  @include breakpoint("ipad-land") {
    padding: 11rem $responsiveSpaceLeftRight;
  }

  .search-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 0;

    .search-content__searchbar {
      padding-top: 8rem;

      @include breakpoint("ipad") {
        padding-top: 0;
      }
    }

    a {
      // padding: 0.8rem 2rem;
      text-decoration: none;
      color: #ffffff;
      display: block;
      transition: 0.3s;
      margin-left: auto;
    }
  }
}

.search-result {
  .search-result-text p {
    color: $white;
    text-align: left;
    font-size: 2.8rem;
    margin: 9rem 0;

    @include breakpoint("ipad") {
      font-size: 2rem;
      padding-left: 0.8rem;
      margin: 3rem 0;
    }
  }
}

.search-result-term-form {
  .icon-search {
    position: absolute;
    right: 0;
    top: 4rem;
  }
}

.search-content-page {
  .container {
    height: auto;
  }
}

.search-content {
  .search-section {
    .search-spacing {
      padding: 1rem 0;
    }

    .search-terms {
      h2 {
        color: $white;
        text-align: left;
        font-size: 2.8rem;

        @include breakpoint("ipad") {
          font-size: 2rem;
          padding-left: 0.8rem;
          line-height: 2.8rem;
        }
      }

      p {
        color: $grey-11;
        font-size: 1.4rem;

        @include breakpoint("ipad") {
          font-size: 1rem;
          padding-left: 0.8rem;
        }
      }
    }
  }

  .search-prev-arrow {
    transform: rotate(180deg);

    &:before {
      content: "\e920";
      font-family: "icomoon";
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      opacity: 1;
      -webkit-font-smoothing: antialiased;
      border-radius: 50%;
      padding: 17px 21px;
      border: 1px solid $white;
      display: block;
      @include breakpoint("ipad") {
        font-size: 1rem;
        padding: 1.2rem 1.4rem;
      }
      @include breakpoint("small") {
        padding: 1rem 1.2rem;
      }
    }
  }

  .search-next-arrow:before {
    content: "\e920";
    font-family: "icomoon";
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    border-radius: 50%;
    padding: 17px 21px;
    border: 1px solid $white;
    display: block;
    @include breakpoint("ipad") {
      font-size: 1rem;
      padding: 1.2rem 1.4rem;
    }
    @include breakpoint("small") {
      padding: 1rem 1.2rem;
    }
  }
}

.area__interest_btn {
  ul li .active {
    background-color: $white;
    color: $black;
  }
}

.search-content {
  .pagination {
    justify-content: center;

    .nav-links {
      display: flex;
      align-items: center;
      a {
        padding: 16px;
        margin: 0 15px;
        @include breakpoint("ipad-land") {
          padding: 1rem;
          margin: 0 1rem;
        }
        @include breakpoint("ipad") {
          padding: 0;
          margin: 0 0.8rem;
        }
        @include breakpoint("small") {
          margin: 0 0.5rem;
        }
      }

      .page-numbers-container {
        display: flex;
        align-items: center;

        .current {
          color: $black;
          background-color: $white;
          padding: 16px;
          margin: 0 15px;
          @include breakpoint("ipad") {
            padding: 0.8rem 1.2rem;
            margin: 0 0.8rem;
          }
          @include breakpoint("ipad") {
            padding: 0.8rem 1rem;
          }
        }
      }
    }
  }
}

.search-pagination {
  margin-bottom: 5rem;

  .pagination-link {
    ul {
      li {
        color: $white;
      }

      .pages .active {
        color: $black;
        background-color: $white;
      }
    }

    .selected {
      color: $black;
      background-color: $white;
    }

    .active.prev-arrow:before,
    .active.next-arrow:before {
      border: 1px solid $white;
    }
  }
}

.page-numbers.dots {
  color: $white;
  font-size: 0;
  margin: 0 2rem;
  @include breakpoint("ipad") {
    margin: 0 1rem;
  }
  @include breakpoint("small") {
    margin: 0 0.5rem;
  }
  &::before {
    content: ". . .";
    font-size: 2.5rem;
    white-space: nowrap;
    @include breakpoint("ipad") {
      font-size: 2rem;
    }
    @include breakpoint("small") {
      font-size: 1.5rem;
    }
  }
}
