.btn {
  border-radius: unset;
  font-size: 1.7rem;
  font-weight: 400;
  color: $white;
  padding: 1rem 2.8rem;
  transition: all 0.25s ease-in-out;
  position: relative;
  border: none;

  @include breakpoint("large") {
    font-size: 2.2rem;
    // padding: 9.2rem 2.5rem;
    padding: 1.3rem 3.5rem;
  }

  @include breakpoint("ipad-land") {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
  }

  @include breakpoint("small") {
    font-size: 1.2rem;
  }

  span,
  i {
    position: relative;
    z-index: 1;
    color: $white;
  }

  &--icon {
    display: inline-flex;
    align-items: center;

    i {
      margin-left: 1.8rem;
    }
  }

  &::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.25s ease-in-out;
  }

  &:hover {
    color: unset;

    &::before {
      width: 100%;
    }
  }

  &--primary {
    background-color: $primary;
    border: 1px solid $primary;

    &::before {
      content: "";
      color: $white;
      // border-color: $red-2;
      background: $red-2;
      // border-color: $red-2;
    }

    &:hover {

      border: 0;

      &::before {
        width: 100%;
      }
    }

    .icon-arrow {
      font-size: 1.2rem;
      margin-left: 2rem;
    }
  }

  &--secondry {
    background-color: $white;
    color: $black;

    &::before {
      background: $primary;
    }

    &:hover {
      color: $white;
    }
  }

  &--primary-outline {
    background-color: transparent;
    border: 0.1rem solid $primary;

    &::before {
      background: $primary;
    }
  }

  &--secondary-outline {
    background-color: transparent;
    border: 0.1rem solid $white;

    &::before {
      content: "";
      background: $white;
      color: $black;
    }

    @include breakpoint("ipad-land") {
      border-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
      &::before {
        width: 100%;
      }

      span {
        color: $black;
      }

      .icon-arrow:before {
        content: "\e901";
        color: $black;
      }
    }

    .icon-arrow {
      font-size: 1.2rem;
      margin-left: 2rem;

      @include breakpoint("ipad-land") {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }
  }
}

.icon-arrow {
  cursor: pointer;
}

.submit-btn-outer {
  width: 100%;
  position: relative;

  br {
    display: none;
  }

  span {
    position: absolute;
    right: 2.8rem;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint("ipad-land") {
      display: none;
    }
  }
}

.submit-btn-wdth {
  max-width: 26.5rem;

  @include breakpoint("large") {
    max-width: 34.5rem;
  }

  @include breakpoint("ipad-land") {
    max-width: 100%;
  }
}

.link_anchor {
  color: $white;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  @include transition;

  .icon-next-arrow-1 {
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 700;

    &:before {
      color: $white;
      @include transition;
    }
  }

  &:hover {
    @include transition;

    .icon-next-arrow-1 {
      &:before {
        color: $primary;
        @include transition;
      }
    }
  }
}

.bottom-arrow {
  position: absolute;
  left: 0;
  bottom: 0;
}

.arrow-button {
  display: flex;
  align-items: center;
}